* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sl-mk.mk-sl.t1x -text
/apertium-sl-mk.mk.dix -text
/apertium-sl-mk.postprocessrules-mk-sl.xml -text
/apertium-sl-mk.postprocessrules-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules-sl-mk.xml -text
/apertium-sl-mk.postprocessrules-sl-mk_2.xml -text
/apertium-sl-mk.postprocessrules_adj_-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules_adj_-sl-mk.xml -text
/apertium-sl-mk.postprocessrules_adj_-sl-mk_2.xml -text
/apertium-sl-mk.postprocessrules_adv_-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules_adv_-sl-mk.xml -text
/apertium-sl-mk.postprocessrules_adv_-sl-mk_2.xml -text
/apertium-sl-mk.postprocessrules_n_-mk-sl.xml -text
/apertium-sl-mk.postprocessrules_n_-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules_n_-sl-mk.xml -text
/apertium-sl-mk.postprocessrules_n_-sl-mk_2.xml -text
/apertium-sl-mk.postprocessrules_vblex_-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules_vblex_-sl-mk.xml -text
/apertium-sl-mk.postprocessrules_vblex_-sl-mk_2.xml -text
/apertium-sl-mk.postprocessrules_vbser_-mk-sl_2.xml -text
/apertium-sl-mk.postprocessrules_vbser_-sl-mk.xml -text
/apertium-sl-mk.postprocessrules_vbser_-sl-mk_2.xml -text
/apertium-sl-mk.sl-mk.dix -text
/apertium-sl-mk.sl-mk.rlx -text
/apertium-sl-mk.sl-mk.t1x -text
/apertium-sl-mk.sl.dix -text
/apertium-sl-mk.sl.tsx -text
/autogen.sh -text
/configure.ac -text
dev/CleanTranslate.java -text
dev/TotaleToApertiumTranslationTable -text
dev/apertium-sl-mk.mk.dix -text
dev/apertium-sl-mk.mk.notuntrusted.dix -text
dev/apertium-sl-mk.sl-mk.dix -text
dev/apertium-sl-mk.sl.dix -text
dev/apertium-sl-mk.sl.dix.FULL -text
dev/apertium.in -text
dev/cleanTranslate -text
dev/inconsistency.sh -text
dev/mk.n.dix.chopped -text
dev/sl_corpus.non_tagged -text
dev/sl_corpus.tagged.apertium -text
dev/sl_corpus.tagged.apertium.1line -text
dev/t.vcb -text
dev/translate -text
/mk-sl.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
/sl-mk-supervised.make -text
/sl-mk.prob -text svneol=unset#unset
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
